<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets>
	<target xsi:type="File"
			name="file"
			fileName="${basedir}/logs/app.log"
			layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=${newline}${exception:format=ToString}}"
			concurrentWrites="true"
			keepFileOpen="false"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="7"
			encoding="utf-8" />
	<target xsi:type="Debug" name="debug" layout="${longdate}|${level}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
	<logger name="*" minlevel="Info" writeTo="file,debug" />
  </rules>
</nlog>